extends ../layouts/main.layout.pug

block styles
  link(rel='stylesheet' href='/css/product.css')
  link(rel='stylesheet' href='/css/forms.css')


block content
  main
    form.product-form(action=`/admin/${editing ? "edit-product" : "add-product"}`, method='POST')
      .form-control
        label(for='title') Title
        input#title(type='text', name="title", value=(editing ? product.title : '商品名'))
      .form-control
        label(for='imageUrl') Image URL
        input#imageUrl(type='text', name="imageUrl", value=(editing ? product.imageUrl : 'IMAGE URL'))
      .form-control
        label(for='price') Price
        input#price(type='number', name="price", step='0.01', value=(editing ? product.price : ''))
      .form-control
        label(for='description') Description
        textarea#description(type='text', name="description", rows="5") #{editing ? product.description : '商品説明'}

      if editing
        input(type='hidden', value=`${product._id}`, name="productId")
        button.btn(type='submit') EDIT

      else
        button.btn(type='submit') ADD
