.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #2621b0ed;
  font: inherit;
  border-radius: 2px;
}

button {
  font: inherit;
  border: 1px solid #2621b0ed;
  color: white;
  background: #2621b0ed;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: white;
  color: black
}
