extends ../layouts/main.layout.pug

block styles
  link(rel='stylesheet' href='/css/product.css')

block content
  main
    if products.length > 0
      ul
        each p in products
          li #{p.productData.title} (#{p.qty})

    else
      h1 No Product in Cart