extends ../layouts/main.layout.pug

block styles
  link(rel='stylesheet' href='/css/product.css')

block content
  main
    if products.length > 0
      ul
        each p in products
          li
            p #{p.productData.title} (#{p.qty})
            form(action='/cart-delete-item', method='POST')
              input(type='hidden', value=`${p.productData.id}`, name='productId')
              button.btn(type='submit') DELETE

    else
      h1 No Product in Cart